In [2]:
import pandas as pd
import numpy as np

In [7]:
data = pd.Series(np.random.randn(9),
index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
[1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [10]:
data

a  1   -2.192069
   2   -0.564590
   3    0.290914
b  1   -1.210833
   3   -1.181565
c  1   -1.645001
   2   -0.241507
d  2   -1.008529
   3   -1.243418
dtype: float64

In [11]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [12]:
data['b']

1   -1.210833
3   -1.181565
dtype: float64

In [13]:
data.loc

In [14]:
data.unstack()

          1         2         3
a -2.192069 -0.564590  0.290914
b -1.210833       NaN -1.181565
c -1.645001 -0.241507       NaN
d       NaN -1.008529 -1.243418

In [21]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
'data1': range(7)})
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [22]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
'data2': range(3)})
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [24]:
pd.merge(df1,df2, on ='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0