In [3]:
import pandas as pd

In [4]:
obj=pd.Series([1,2,3])
obj

0    1
1    2
2    3
dtype: int64

In [9]:
#change index
#Everything inside round bracket
obj=pd.Series([1,2,3],index=['a','b','c']) # String index should be in commas

obj

a    1
b    2
c    3
dtype: int64

In [11]:
#Get values
obj.values

array([1, 2, 3], dtype=int64)

In [12]:
#Index of pandas object
obj.index

Index(['a', 'b', 'c'], dtype='object')

In [18]:
print(obj['b'])
print(obj['a'])
print(obj['c'])

2
1
3

In [19]:
obj[obj>2]

c    3
dtype: int64

In [20]:
obj[obj>0]

a    1
b    2
c    3
dtype: int64

In [22]:
obj2=obj*2
print(obj)
print(obj2)

a    1
b    2
c    3
dtype: int64
a    2
b    4
c    6
dtype: int64

In [23]:
import numpy as np

In [24]:
np.exp(obj)

a     2.718282
b     7.389056
c    20.085537
dtype: float64

In [25]:
'a' in obj

True

In [26]:
'z' in obj2

False

In [41]:
dict={'Audio':2000,'Video':7000,'Pictures':12000}
type(dict)

dict

In [30]:
mypandic=pd.Series(dict)
mypandic

Audio        2000
Video        7000
Pictures    12000
dtype: int64

In [45]:
#Change index by passing dictionary
ind=['Audio','b','c']
newpandic=pd.Series(dict,index=ind)

In [46]:
newpandic
#NAN bcz no value found for specific key

Audio    2000.0
b           NaN
c           NaN
dtype: float64

In [52]:
print(dict)
print(mypandic)
print(pd.notnull(obj))
print(pd.isnull(obj))

{'Audio': 2000, 'Video': 7000, 'Pictures': 12000}
Audio        2000
Video        7000
Pictures    12000
dtype: int64
a    True
b    True
c    True
dtype: bool
a    False
b    False
c    False
dtype: bool

In [53]:
obj+obj2

a    3
b    6
c    9
dtype: int64

In [58]:
mypandic.name='My data in laptop'
mypandic.index.name='Data type'
print(mypandic)

Data type
Audio        2000
Video        7000
Pictures    12000
Name: My data in laptop, dtype: int64

In [60]:
mypandic

Data type
Audio        2000
Video        7000
Pictures    12000
Name: My data in laptop, dtype: int64

In [63]:
#indexes can be altered
mypandic.index=['x','y','z']
mypandic

x     2000
y     7000
z    12000
Name: My data in laptop, dtype: int64

# DATAFRAMES

In [66]:
#Create dataframes by passing dictionary with equal lengths of lists
data={'data':['Audio','Video','Pictures','Docs','Applications','Codes'],'Amount':[750,2450,6500,4700,490,350],'Views daily':[1,4,3,4,2,6]}

In [71]:
frame=pd.DataFrame(data)
frame

           data  Amount  Views daily
0         Audio     750            1
1         Video    2450            4
2      Pictures    6500            3
3          Docs    4700            4
4  Applications     490            2
5         Codes     350            6

In [72]:
#Sequence of column
pd.DataFrame(data,columns=['Views daily','data','Amount'])

   Views daily          data  Amount
0            1         Audio     750
1            4         Video    2450
2            3      Pictures    6500
3            4          Docs    4700
4            2  Applications     490
5            6         Codes     350

In [95]:
#Change Index
frame=pd.DataFrame(data,columns=['Views daily','data','Amount','User'],index=['one','two','three','four','five','six',])

In [80]:
frame.columns

Index(['Views daily', 'data', 'Amount'], dtype='object')

In [82]:
frame.index

Index(['one', 'two', 'three', 'four', 'five', 'six'], dtype='object')

In [93]:
#Access Column
frame['data']

one             Audio
two             Video
three        Pictures
four             Docs
five     Applications
six             Codes
Name: data, dtype: object

In [88]:
frame.data #retrieve by attribute # this method only works when column name is valid variable name

one             Audio
two             Video
three        Pictures
four             Docs
five     Applications
six             Codes
Name: data, dtype: object

In [92]:
#Access Row
frame.loc['one'] # square bracket

Views daily        1
data           Audio
Amount           750
Name: one, dtype: object

In [94]:
frame.loc['three']

Views daily           3
data           Pictures
Amount             6500
Name: three, dtype: object

In [100]:
# print(frame)
frame['User']='Shafiq' # You can pass array
frame

       Views daily          data  Amount    User
one              1         Audio     750  Shafiq
two              4         Video    2450  Shafiq
three            3      Pictures    6500  Shafiq
four             4          Docs    4700  Shafiq
five             2  Applications     490  Shafiq
six              6         Codes     350  Shafiq